* {
    margin: 0;
    padding: 0;
}

.product__box {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 40px;

    font-family: Lato;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 22px;

}

.product {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 652px;
    margin-bottom: 40px;
}

.btn__del {
    position: absolute;
    top: 28px;
    right: 22px;
    height: 18px;
    width: 18px;
    font-size: 0;
    border: none;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/x.svg);
    cursor: pointer;
}

.content {
    display: flex;
    width: 652px;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.product__img {
    width: 262px;
}

.product__desc {
    font-weight: 400;
    color: #575757;
    padding-top: 22px;
    padding-left: 31px;
}

.product__name {
    color: #222;
    font-size: 24px;
    margin-bottom: 42px;
    width: 210px;
}

.product__price {
    color: #EF5B70;
}

.product__qty {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}

.input__label {
    height: 25px;
}

.input__quantity {
    width: 44px;
    text-align: center;
    font-size: 18px;
    color: #656565;
    border: 1px solid #EAEAEA;
}