.catalog__main-inner {
    background-color: #F8F3F4;
}

.catalog__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.title-catalog {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title-catalog__nav {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #636363;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}